# Django
DEBUG=True
SECRET_KEY='django-insecure'

# Database
# https://docs.djangoproject.com/en/5.0/ref/settings/#databases
# if DB_HOST is empty, then sqlite3.db in the project folder is used by default
DB_ENGINE=django.db.backends.postgresql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
